.play{
    width: 90%;
    position: relative;
    padding-bottom: 40%;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 20%;
    border: 1px solid black;
}